<!DOCTYPE html>

<html>

	<head>
		<title>Angular.js Demo App</title>
		<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="css/site.css" rel="stylesheet">
		<base href="/">
	</head>

	<body>

		<main class="container" ng-app="MyApp">

			<div ng-controller="MyCtrl">
				<h1>{{header}}</h1>

				<ul>
					<li ng-repeat="color in sortedColors">{{$id}} {{color}}</li>
				</ul>
				<div>
					<label>New Color:</label>
					<input type="text" ng-model="newColor">
					<button type="button" ng-click="addColor()">Add Color</button>
				</div>


				<table class="table table-striped">
					<thead>
						<tr>
							<th>Make</th>
							<th>Model</th>
							<th>Year</th>
							<th>Color</th>
							<th>Price</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>

		</main>
		<script src="js/ng/angular.js"></script>
		<script>

			'use strict';

			angular.module("MyApp", [])
				.factory("colorsSvc", function() {

					var colors = ['blue','yellow','red','white','brown','green','orange'];

					return {
						getAll: function() {
							return colors;
						},
						insert: function(newColor) {
							colors = colors.concat(newColor);
						}
					};

				})
				.filter("DoCheck", function() {

					return function(value) {
						console.log('change detection ran');
						return value;
					}

				})
				.controller("MyCtrl", function($scope, $log, colorsSvc) {

					$scope.addColor = function() {
						colorsSvc.insert($scope.newColor);
						$scope.colors = colorsSvc.getAll();
					};

					var lastColors;

					Object.defineProperty($scope, "sortedColors", {
						configurable: true,
						enumerable: true,
						get: function() {

							$scope.colors = colorsSvc.getAll();

							if (lastColors !== $scope.colors) {
								console.log('ran change detection');
								$scope.colors.sort();
								lastColors = $scope.colors;
							}

							return $scope.colors;

						}
					});



					$log.log('Thanksgiving is almost here!');
					console.dir($scope);
					$scope.header = "List of Colors";
					$scope.colors = ['blue','yellow','red','white','brown','green','orange'];

					$scope.cars = [
						{ make: 'Kia', model: 'Sportage', color: 'teal', year: 2015, price: 10000 },

					]

				});

		</script>

	</body>

</html>
